*{
    margin: 0;
    font-family: work sans-serif;
}
.banner{
    background-image:url('../images/banner/banner2.png');
    background-position: absolute;
    width: 1600px;
    height: 809px;
    left: 1600px;
    top: 0px;
}

.banner-heading{
    position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;


}
.banner-description{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;


text-align: right;
margin: 24px 32px;
}
.contact-button{
    position: absolute;
width: 160px;
height: 64px;
left: 1210px;
top: 578px;
background-color: orangered;
border-radius: 5px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
text-align: center;

color: #FFFFFF;

}
.main-info{
    align-content: right;
    margin-right: 230px;
}